{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{game.thumbnail}}" alt="{{game.title}}" />
</div>

<div class="detail__name">
    <h1 class="title">{{game.title}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'game_update' game.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/games/{{game.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="dropdown">
        <div class="dropdown-trigger">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu"
          >
            <span>Add to Playlist</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            {% for list in favlist %}
        <!-- each playlist becomes a drop
        down item with the ids needed to add to the join table  -->
            <a
              href="{% url 'favlist_game_assoc' list.pk game.pk %}?assoc=add"
              class="dropdown-item"
            >
              {{list.title}}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{game.description}}</p>
        <p>Genre: {{game.genre}}</p>
        <p>Platform: {{game.platform}}</p>
        <p>Release Date: {{game.release_date}}</p>
        <p>Developer: {{game.developer}}</p>
        <p>Publisher: {{game.publisher}}</p>
        <a href="{{game.game_url}}">
            <p>Download</p>
        </a>
    </div>
    
</div>

{% endblock %}